DRONE_BITBUCKET_SERVER=
DRONE_BITBUCKET_CLIENT_ID=
DRONE_BITBUCKET_CLIENT_SECRET=

DRONE_SERVER_HOST=
DRONE_SERVER_PROTO=http

DRONE_RPC_SECRET=
DRONE_AGENTS_ENABLED=true
# DRONE_RPC_DEBUG=true

DRONE_TLS_AUTOCERT=true

# DRONE_USER_CREATE=username:User,admin:true

